@font-face {
    font-family: 'Helvetica';
    src: url('./Helvetica-Bold.ttf') format('ttf');
}

body, html {
    height: 100%;
    margin: 0;
    background-color: #000000;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.calculator {
    text-align: center;
    margin-top: 0px;
}

input[type="text"] {
    width: 414px;
    height: 90.9px;
    text-align: right;
    border: none;
    background-color: #000000;
    color: #F8F8F8;
    font-size: 54px;
    font-family: Helvetica, sans-serif;
}

#operations {
    width: 100%;
    height: 40px;
    font-size: 35px;
    font-family: Helvetica, sans-serif;
    text-align: right;
    margin-bottom: 10px;
    color: #737373;
    background-color: #000000;
    border: none;
}

button {
    width: 90px;
    height: 90px;
    margin: 3.6px;
    border-radius: 90px;
    border: none;
    font-size: 36px;
    font-family: Helvetica, sans-serif, sans-serif;
}

.number-btn {
    background-color: #323232;
    color: #E9E9E9;
}

.operator-btn {
    background-color: #F28506;
    color: #E9E9E9;
}

.clear-btn {
    background-color: #A0A0A0;
    color: #0C0C0C;
}

.bracket-btn {
    background-color: #202020;
    color: #DBDBDB;
}

.span-two-columns {
    width: 194.4px;
}

.span-two-rows {
    height: 194.4px;
}

.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    font-family: Helvetica, sans-serif;
}

.popup-content {
    position: relative;
}

.close-btn {
    position: absolute;
    top: -20px;
    right: -13px;
    font-size: 20px;
    cursor: pointer;
}